!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    %title Application

    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body
    .container
      .row
        .col-sm-offset-3.col-sm-6
          - if flash[:notice].present?
            .alert.alert-info
              %button.close{type: 'button', data: {dismiss: 'alert'}}
                %span &times;
              %strong= flash[:notice]

    = yield

    .container
      .row
        .col-sm-offset-3.col-sm-6
          Code revision:
          = `git rev-parse HEAD`[0..7]
          %br
          Server hostname:
          = "'" + hostname + "'"

    = javascript_include_tag 'application'
