!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    %title Application

    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body
    .container-fluid
      - if flash[:notice].present?
        .alert.alert-info
          %button.close{type: 'button', data: {dismiss: 'alert'}}
            %span &times;
          %strong= flash[:notice]
    = yield
    = javascript_include_tag 'application'
